.loginForm {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginHolder {
  width: 500px;
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0 20px 10px #eee;
}

.loginForm input {
  width: 100%;
  padding: 30px 10px;
  margin-bottom: 10px;
}

.loginForm span {
  font-size: 12px;
  color: red;
  margin-top: 10px;
}
