.headingDiv {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.headingDiv h3 {
  float: left;
  margin: 0;
}

.headingUnderline {
  display: block;
  float: left;
  margin: 0;
  width: 30%;
  color: #f4511e;
}
