.navHeader {
  position: relative;
  width: 1200px;
}

.navHeader ul {
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 30px 0px;
  background-color: #0b2c3d;
  border-radius: 0 0 10px 10px;
}

.navHeader ul li {
  float: left;
  margin-right: 2%;
}

.navHeader ul li a {
  font-size: 15px;
  color: #ededed;
  padding: 10px 0;
}

.navHeader ul li a:hover {
  border-bottom: 2.5px solid #ff5a3c;
}

.diffHeader .logo {
  left: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
}

.account {
  background-color: #ff5a3c;
  color: #fff !important;
  border-radius: 5px;
  padding: 10px 30px !important;
}

.account:hover {
  background-color: #fff;
  color: #ff5a3c !important;
}
