.mapHolder {
  position: relative;
  height: 790px;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 790px;
  margin-bottom: 35px;
  background-image: url(../images/big-header.png);
  background-repeat: no-repeat;
  -moz-box-shadow: inset 10px 10px 50px #000;
  -webkit-box-shadow: inset 10px 10px 50px #000;
  box-shadow: inset 10px 10px 50px #000;
}

.slogan {
  width: 50%;
  font-size: 50px;
  color: #fff;
}
