.form {
  width: 550px;
  margin: 100px auto 0 auto;
  margin-bottom: 100px;
  padding: 65px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0 20px 10px #eee;
}

.formBody {
  text-align: left;
}

.addPropInput {
  float: left;
  width: 100%;
  margin: 10px 0;
}

.addPropInput .formLabel {
  display: inline-block;
  width: 20%;
  margin: 0;
  margin-right: 1%;
}

.addPropInput .formInput {
  display: inline-block;
  width: 79%;
  padding: 10px;
  margin: 0;
}

.regButton {
  width: 100%;
  margin-top: 30px;
  padding: 10px 5px;
  background-color: #f4511e;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.regButton:hover {
  color: #f4511e;
  border: 1px solid #bdbdbd;
  background-color: #fff;
}

.formHeading {
  font-size: 30px;
  color: #f4511e;
  margin: 0 0 20px 0;
  text-align: center;
}

.invalid {
  display: block;
  width: 79%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 0, 0);
}
